{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang GORM Curd  </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang GORM Mysql CRUD </h1>   
{{ end }}