{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Mysql Curd  </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Mysql Curd okok</h1>   
{{ end }}